<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="MSSQLConnect" value="Server = 192.168.105.227;Database = EMS;User ID =sa;Password = Acrel001;Trusted_Connection = False;"/>
    <add key="EnableSendMessage" value="false"/>
  </appSettings>
</configuration>
